<h1>Useful Analysis Libaries</h1>
<b>numpy</b> is useful for doing all sorts of numerical analysis, including linear algebra and statistics.
<br/>
<b>scipy</b> and <b>sklearn</b> uses numpy types and includes more advanced utilities, like machine learning.
<br/>
<b>pandas</b> has useful utilities for querying tables loaded from CSVs or even from sqlite.

In [1]:
import numpy
import os
import scipy
import pandas

In [2]:
with open(os.path.join('../data/examples.csv')) as f:
    data_frame = pandas.read_csv(f)

In [3]:
data_frame

        name    fpid  age state
0      Chuck  fp-111   38    NY
1   Mercedes  fp-222   76    FL
2     Barney  fp-333   58    CT
3       Opal  fp-444   43    FL
4    Hendrix  fp-555   77    UT
5     Banksy  fp-666   65    FL
6     Cashew  fp-777   42    NY
7     Raisin  fp-888   83    CA
8  Fluffball  fp-999   53    CA

In [12]:
print('Patients per state:', data_frame.groupby('state').fpid.count())
print('Average age per state:', data_frame.groupby('state').age.mean())

Patients per state: state
CA    2
CT    1
FL    3
NY    2
UT    1
Name: fpid, dtype: int64
Average age per state: state
CA    68.000000
CT    58.000000
FL    61.333333
NY    40.000000
UT    77.000000
Name: age, dtype: float64

Or, use numpy to do some crazy stuff

In [36]:
points = numpy.random.rand(3, 10)
u, s, vh = numpy.linalg.svd(points)
print("Eigenvectors:", u)
print("Eigenvalues:", s)

Eigenvectors: [[-0.26679533  0.15059373  0.9519148 ]
 [-0.50832716  0.81716434 -0.27174611]
 [-0.81879409 -0.55638473 -0.14146474]]
Eigenvalues: [2.73216655 1.02576419 0.37476551]